extends layout

block content 
    div(class='container')
        div(class='row justify-content-center')
            div(class='col-md-12')
                div(class='about-content')
                    h1 About Music Inventory 

                    p Music Inventory is a platform for managing instruments, categories and brands. Odin Project

                    p With Music Inventory you can: 

                    ul 
                        li Add new instruments to your inventory 
                        li Update the details of existing instruments 
                        li Delete instruments 
                        li Create and manage categories and brands